{
  "presets": [
    ["@babel/env", {"modules": false}]
  ],
  "plugins": [
    "@babel/plugin-transform-spread"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}
